@model MVCTilausDB.Models.Logins

@{
    ViewBag.Title = "Home Page";
}


<script src="https://kit.fontawesome.com/e578d2b7fb.js" crossorigin="anonymous"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


@*JQuery, joka suoritetaan aina, kun sivu latautuu*@
@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#LoginRuutu').modal('show');
            }

        });
    </script>
}



<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">TDB APP</h1>
        <p class="lead">TDB App Tilaushallinnan ykkönen!</p>
        <p>
@*Modal -tyyppisen ikkunan avauspainike*@
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LoginRuutu">Kirjaudu sisään</button>
            </p>
    </section>


    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Aloitus</h2>
            <p>
                TDB App Tarjoaa tehokkaan ja mallipohjaisen tavan rakentaa dynaamisia tietohallinnan työkaluja,
                mikä mahdollistaa selkeän vastuualueiden erottelun ja antaa täyden hallinnan merkintäkielen suhteen,
                mikä takaa nautinnollisen ja ketterän kehitysprosessin.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.tdbgroup.org/annual-reports/">Lisää &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Tietokanta sovellus</h2>
            <p>TDB App antaa sinulle toimintavarman tietokantasovelluksen, joka ei petä ikinä.  </p>
            <p><a class="btn btn-outline-dark" href="https://www.tdbgroup.org/projects/">Lisää &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Ketterä menetelmä</h2>
            <p>Voit helposti muokata tietokantaa omien tarpeittesi mukaan. Koko organisaatio hyötyy tästä silmien räpäytyksessä. </p>
            <p><a class="btn btn-outline-dark" href="https://www.tdbgroup.org/opportunities/">Lisää &raquo;</a></p>
        </section>

        <h2 id="hostingTitle">Tilastoja meidän tuotteista</h2>
        <iframe title="TilausDBTilasto" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=9d36ded1-dc1a-450f-a7df-73d37ea2964c&autoAuth=true&ctid=0992c7f7-c210-47c4-909e-f112d9f907a0" frameborder="0" allowFullScreen="true"></iframe>

    </div>
</main>
@*Modal -tyyppisen ikkunan avauspainike*@
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LoginRuutu">Kirjaudu sisään</button>

@*Modal -tyyppisen ikkunan koodiesimerkki*@
<div class="modal" id="LoginRuutu">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Kirjautuminen Northwind-järjestelmään</h1>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Authorize", "Home", FormMethod.Post, new { id = "loginForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4>Logins</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.LoginId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <label class="text-danger">
                            @Html.DisplayFor(model => model.LoginErrorMessage)
                        </label>

                    </div>
                }
            </div>
            <div class="modal-footer">
                <div>
                    @*Formin lähettävä button, joka ei kuitenkaan ole formin sisällä, mutta viittaa formin ID:hen*@
                    <button type="submit" class="btn btn-primary" form="loginForm"><i class="fas fa-check"></i></button>
                    @*Kontrollerin kutsu Url.Action -komennolla, jotta peruuttaminen johtaa alkutilanteeseen*@
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary"><i class="fas fa-times"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>